@property --tw-scale-x {
    syntax: "*";
}

@import "tailwindcss";

@theme {
    --font-sef: "Sue Ellen Francisco", cursive;
}

@layer utilities {
    .bg-halftone {
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0.15) 3px, transparent 1px);
        background-size: 18px 18px;
    }

    @keyframes wiggle {

        0%,
        100% {
            transform: rotate(-10deg);
        }

        50% {
            transform: rotate(10deg);
        }
    }
}

@layer base {
    summary {
        list-style: none;
        cursor: pointer;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    summary p {
        max-width: calc(100% - (var(--spacing)*7));
    }

    .caret {
        transition: transform 0.2s ease;
    }

    details[open] .caret {
        transform: rotate(-90deg);
    }
}